JetBrains/
Mousepad/
hexchat/
qpdfview/
Kvantum/
falkon/
manjaro-hello.json
manjaro/
pamac/
qt5ct/
volumeicon/
coc/
yarn/
Franz/
GIMP/
GeoGebra/
Min/
Simplenote/
Thunar/
cairo-dock/
catfish/
configstore/
i3/
libaccounts-glib/
neofetch/
pavucontrol.ini
plank/
regolith/
remmina/
ristretto/
tilda/
xfce4/
xm1/
xubuntu/
artha.conf
artha.log
Atom/
autostart/
calibre/
clipit/
Code/
dconf/
enchant/
eog/
evince/
evolution/
filezilla/
fish/
fontconfig/
font-manager/
gedit/
GitKraken/
gnome-control-center/
gnome-initial-setup-done
gnome-session/
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
guake/
htop/
ibus/
inkscape/
kazam/
latexila/
libreoffice/
matplotlib/
Mendeley Ltd./
menus/
mimeapps.list
nautilus/
nvim/.vimdid/
nvim/plugins/
omf/
pulse/
QtProject.conf
R/
ranger/
RStudio/
skypeforlinux/
slimbookbattery/
slimbook-touchpad/
sublime-merge/
sublime-text-3/
texstudio/
transmission/
Trolltech.conf
TUG/
update-notifier/
user-dirs.dirs
user-dirs.locale
vlc/
wallpapers/
yelp/
zathura/
